* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
}

nav {
    background: #f1e3cb;
    color: #FFF; 
    height: 6vh; 
    padding: 10px; 
    display: flex; 
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, .5);
}

main {
    height: 94vh; 
    display: flex;
}

.menu {
    background: #f1e3cb;
    width: 8vw; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-evenly; 
    align-items: center; 
    padding: 10px;
}

.menu-item {
    border: 1px solid #FFF !important;
    width: 100%; 
    background: white;
    border-radius: .25rem; 
    height: 5vh; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    cursor: pointer;
}

.selected {
    color: white;
    background: #ff8d03;
}

.form-wrapper {
    display: flex;
    background: #23313D;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#toast {
    position: absolute;
    display: flex;
    background: #e3d2b6;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: .25rem;
    color: white;
    padding: 10px;
    width: 30vw;
    height: 75px;
    right: 50%;
    top: 100px;
    transform: translateX(50%);
    animation: disapear 6s ease 8s;
}

.error {
    background: #ff5e5e !important;
}

form {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 70%;
    border-radius: .25rem;
    justify-content: center;
    align-items: center;
}

form * {
    margin-top: 5px;
    margin-bottom: 5px;
}

label { font-family: Arial, Helvetica, sans-serif; color: white;}

input {
    background: white;
    color: black;
    border: 0;
    height: 30px;
    border-radius: .25rem;
    padding: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-control {
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

button {
    background: #ff8d03;
    color: white;
    border: 0;
    border-radius: .25rem;
    width: 100%;
    height: 30px;
}